@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Hydra</h1>
    <p class="lead">An elegent way to view and manage SQA server details</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>
            To create a browser based solution for managing SQA lab server usage and details. 
            Hydra users should have the ability to view server details from their browser 
            and edit/update details as needed, based on user permissions.
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <ul>
            <li><s>Connect to database</s></li>
            <li><s>Display server data from db, in website</s></li>
            <li>Configure external authentication services</li>
            <li>Setup 2 users - admin and non-admin</li>
            <li>Admin user can edit database fields from website</li>
            <li>After the above works, find a way to automatically grab server data from each server, and save to db</li>
        </ul> 
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <img src="/Content/Images/Hydra.png" alt="Project Hydra" style="width:304px;height:228px;">
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>