
@{
    ViewBag.Title = "ServerDetails";
}

<h2>ServerDetails</h2>

<!--Dummy data for now: TODO - populate the table with data from database-->
<table class="table table-striped" style="width:60%">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Build Num</th>
            <th>Hot Fix</th>
            <th>Player</th>
            <th>IP</th>
            <th>Connected To</th>
            <th>Rack</th>
            <th>Model</th>
            <th>Project</th>
            <th>User</th>
        </tr>
        <tr>
            <td>10.0.32.27</td>
            <td>15.4</td>
            <td>12345</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>192.168.221.10</td>
            <td>N/A</td>
            <td>4</td>
            <td>N/A</td>
            <td>Notes go here</td>
            <td>shealy</td>
        </tr>
        <tr>
            <td>10.0.32.27</td>
            <td>15.4</td>
            <td>12345</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>192.168.221.10</td>
            <td>N/A</td>
            <td>4</td>
            <td>N/A</td>
            <td>Notes go here</td>
            <td>shealy</td>
        </tr>
</table>


